* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.rectangle {
  margin: 0;
  display: inline-block;
  float: left;
  width: 50vw;
  height: 50vh;
}

.rectangleContent {
  position: relative;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  top: 30%;
  opacity: 0.0
}

.title {
  position: relative;
  text-align: center;
  top: 50%;
}

#welcome {
  background-color: red;
}

#about {
  background-color: purple;
}
#projects {
  background-color: pink;
}

#contact {
  background-color: lightblue;
}

.fullView {
  width: 100vw;
  height: 100vh;
}

.noView {
  width: 0vw;
  height: 0vh;
}

img {
  width: 600px;
}


